apiVersion: ceph.rook.io/v1
kind: CephObjectStore
metadata:
  name: OBJECT_STORE_NAME
  namespace: NAMESPACE
spec:
  metadataPool:
    failureDomain: host
    replicated:
      size: 1
  dataPool:
    failureDomain: host
    replicated:
      size: 1
  preservePoolsOnDelete: false
  gateway:
    port: 80
    instances: 1
    placement:
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
        operator: Exists
